# test scripts
hello.py
hello1.py

# vscode settings
.vscode/settings.json
flask_workspace.code-workspace

# virtual env
.flask/

# compiled files
*.pyc
kurellaz/env_vars.py
__pycache__/


# jupyter notebooks
*.ipynb

#flask-migrate folders
migrations/
kurellaz/.vscode/settings.json
